@-webkit-keyframes pulseOpacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes pulseOpacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes pulseOpacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes pulseOpacity {
  0%   { opacity: 0.5; }
  100% { opacity: 1; }
}
