$white: #fefefe;
$black: #3b3b3b;
$off-white: #f5f5f5;

$orange: #d95127;
$orange-light: #ea6d46;
$orance-lighter: #f48563;

$purple: #6a4b77;
$purple-light: #926ba4;
$purple-lighter: #ac82c0;

$blue: #325b7b;
$blue-light: #5989af;
$blue-lighter: #71a2c8;

$gray: #b8b8b8;
$gray-light: #dcdcdc;
$gray-dark: #9a9a9a;
$gray-darker: #717171;
