@mixin sectionStyles {
    padding: 5rem 0 6rem;
    
    .title {
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
        font-size: 4rem;
        font-weight: 100;
        text-transform: lowercase;
        strong {
            font-weight: 700;
            font-style: italic;
        }
    }
    .content {
        margin-bottom: 2rem;
    }
}

@mixin darkBkg {
    position: relative;
    background: $black url(../img/bkg-pattern.png) center center no-repeat;
    background-size: cover;
    color: $white;
}

@mixin lightBkg {
    position: relative;
    background-color: $off-white;
    color: $black;
}

@mixin woodBkg {
    position: relative;
    background: transparent url(../img/bkg.jpg) center fixed no-repeat;
    background-size: cover;
    color: $black;

}

@mixin blueBkg {
    position: relative;
    z-index: 100;
    background: $blue;
    color: $white;
}

@mixin whiteNested {
    background: $white;
    color: $black;
    margin: 0;
    padding: 1rem;
}

@mixin imgRound {
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    @include size(450px 450px);
    max-width: 100%;
    border: 15px solid $white;
    @include transform(scale(0));
    opacity: 0;
}
.img-round {
    @include imgRound;
}

@mixin alignMiddle {
    top: 50%;
    transform: translateY(-50%);
}
.middle {
    @include alignMiddle;
}

.bkg-light {
    background-color: $gray-light;
}

@mixin flipCard {
    .flip {
        @include perspective(800);
        width: 100%;
        height: 450px;
        @include transition(all 0.5s ease-in-out);
    }
    .flip .card.flipped {
        @include transition(all 0.5s ease-in-out);
        @include transform(rotatey(-180deg));
        position: relative;
        z-index: 1000;
    }
    .flip .card {
        width: 100%;
        height: 100%;
        @include transform-style(preserve-3d);
        @include transition(0.5s);
    }
    .flip .card .face {
        width: 100%;
        height: 100%;
        position: absolute;
        @include backface-visibility(hidden);
        z-index: 2;

    }
    .flip .card .front {
        position: absolute;
        z-index: 1;
    }
    .flip .card .back {
        @include transform(rotatey(-180deg));
        background: $white;
        padding: 5rem 1rem 0.5rem;
        color: $black;
        font-size: 0.9rem;
        text-align: left;
        .rnd-thumb {
            position: absolute;
            top: -150px;
            left: 0;
            width: 100%;
            text-align: center;
            img {
                @include border-top-radius(50%);
                @include border-bottom-radius(50%);
                @include transform(scale(0.60));
                border: 15px solid $white;
                text-align: center;
            }
        }
        blockquote {
            color: $black;
        }
    }
}
