.playa {
	margin: 3rem 0 3.3rem 0;
}

.audioplayer {
    width: 100%;
    height: 2.5em;
	color: $white;
    text-shadow: 1px 1px 0 #000;
    position: relative;
    z-index: 1;
    background-color: $black;
    @include border-top-radius(1px);
    @include border-bottom-radius(1px);
}

.audioplayer-mini {
    width: 2.5em;
	margin: 0 auto;
}

.audioplayer > div {
    position: absolute;
}

.audioplayer-playpause {
    width: 2.5em;
	height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0;
}

.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
    border-right: 1px solid #555;
    border-right-color: rgba(255, 255, 255, 0.1);
}

.audioplayer-mini .audioplayer-playpause {
    width: 100%;
}

.audioplayer-playpause {
    
    &:hover, &:focus {
        background-color: #222;
    }
    a {
        display: block;
    }
}

.audioplayer-stopped .audioplayer-playpause a {
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
	border-right: none;
    border-left-color: $white;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5em 0 0 -0.25em;
}

.audioplayer-playing .audioplayer-playpause a {
    width: 0.75em;
	height: 0.75em;
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.375em 0 0 -0.375em;

    &:before, &:after {
        width: 40%;
        height: 100%;
        background-color: $white;
        content: '';
        position: absolute;
        top: 0;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}

.audioplayer-time {
    width: 4.375em;
    height: 100%;
    line-height: 2.375em;
    text-align: center;
    z-index: 2;
    top: 0;
}

.audioplayer-time-current {
    border-left: 1px solid #111;
    border-left-color: rgba(0, 0, 0, 0.25);
    left: 2.5em;
}

.audioplayer-time-duration {
    border-right: 1px solid #555;
    border-right-color: rgba(255, 255, 255, 0.1);
    right: 2.5em;
}

.audioplayer-novolume .audioplayer-time-duration {
    border-right: 0;
    right: 0;
}

.audioplayer-bar {
    height: 0.875em;
    background-color: #222;
    cursor: pointer;
    z-index: 1;
    top: 50%;
    right: 6.875em;
    left: 6.875em;
    margin-top: -0.438em;
}

.audioplayer-novolume .audioplayer-bar {
    right: 4.375em;
}

.audioplayer-bar div {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.audioplayer-bar-loaded {
    background-color: #333;
    z-index: 1;
}

.audioplayer-bar-played {
    background: $blue-light;
    z-index: 2;
}

.audioplayer-volume {
    width: 2.5em;
	height: 100%;
    border-left: 1px solid #111;
    border-left-color: rgba(0, 0, 0, 0.25);
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0;

    &:hover, &:focus {
        background-color: #222;
    }
}

.audioplayer-volume-button {
    width: 100%;
    height: 100%;

    a {
        width: 0.313em;

        /* 5 */
        height: 0.375em;

        /* 6 */
        background-color: #fff;
        display: block;
        position: relative;
        z-index: 1;
        top: 40%;
        left: 35%;

        &:before, &:after {
            content: '';
            position: absolute;
        }

        &:before {
            width: 0;
            height: 0;
            border: 0.5em solid transparent;

            /* 8 */
            border-left: none;
            border-right-color: #fff;
            z-index: 2;
            top: 50%;
            right: -0.25em;
            margin-top: -0.5em;

            /* 8 */
        }
    }
}

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
    /* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
    width: 0.313em;
	height: 0.313em;
    border: 0.25em double #fff;
    border-width: 0.25em 0.25em 0 0;
    left: 0.563em;
    top: -0.063em;
    -webkit-border-radius: 0 0.938em 0 0;
    -moz-border-radius: 0 0.938em 0 0;
    border-radius: 0 0.938em 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.audioplayer-volume-adjust {
    height: 6.25em;
    cursor: default;
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    background: #222;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
    background: -webkit-linear-gradient(top, #444, #222);
    background: -moz-linear-gradient(top, #444, #222);
    background: -ms-radial-gradient(top, #444, #222);
    background: -o-linear-gradient(top, #444, #222);
    background: linear-gradient(top, #444, #222);
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.audioplayer-volume {
    &:not(:hover) .audioplayer-volume-adjust {
        opacity: 0;
    }

    &:hover .audioplayer-volume-adjust {
        top: auto;
        bottom: 100%;
    }
}

.audioplayer-volume-adjust {
    > div {
        width: 40%;
        height: 80%;
        background-color: #222;
        cursor: pointer;
        position: relative;
        z-index: 1;
        margin: 30% auto 0;
    }

    div div {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $blue-light;
    }
}

.audioplayer-novolume .audioplayer-volume {
    display: none;
}

.audioplayer-play, .audioplayer-pause, .audioplayer-volume a {
    -webkit-filter: drop-shadow(1px 1px 0 #000);
    -moz-filter: drop-shadow(1px 1px 0 #000);
    -ms-filter: drop-shadow(1px 1px 0 #000);
    -o-filter: drop-shadow(1px 1px 0 #000);
    filter: drop-shadow(1px 1px 0 #000);
}

.audioplayer-bar {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    div {
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
    }
}

.audioplayer-volume-adjust div {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.audioplayer-bar {
    -webkit-box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.1);
}

.audioplayer-volume-adjust {
    
    div div {
        -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
        -moz-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

.audioplayer-bar-played {
    -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.audioplayer-volume-adjust {
    -webkit-box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15), 2px -2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15), 2px -2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15), 2px -2px 2px rgba(0, 0, 0, 0.15);
}

.audioplayer * {
    -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    transition: color .25s ease, background-color .25s ease, opacity .5s ease;

    &:before, &:after {
        -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
        -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
        -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
        -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
        transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    }
}