<header id="header" class="vidbg-box">
    <span class="overlay"></span>
    <div class="header-content">
        <div class="row">
            <div class="large-12 text-center columns">
                <p class="unit">Be Great on the Job</p>
            </div>
        </div>
        <div class="row">
            <div class="medium-7 columns">
                <h1 class="title">
                    Mastering the
                    <br>
                    <strong>Hello</strong>
                </h1>
            </div>
            <div class="medium-5 columns">
                <h3 class="tagline">
                    The 3-step hello.
                </h3>
            </div>
        </div>
    </div>
    <div id="trigger-opacity"></div>
</header>

<div id="introduction">
    <span class="intro-bkg"></span>
    <span class="overlay"></span>
    <div id="intro-content">
        <div class="row">
            <div class="large-8 large-centered medium-9 medium-centered small-12 columns">
                <h1 class="title">Introduction</h1>
                <p>Everyone is busy at work—your boss, your clients—you're busy too. We often rush into work conversations to get our wants and needs heard. But this is the wrong approach. By launching directly into <em>your</em> wants and needs, you disregard the most important person in the conversation&mdash;your listener.</p>
                <p>But your listener is the one you're asking something of: help, money, more time to meet a deadline. Many of our work conversations center around asking some<em>one</em> for <em>something</em>. Or, you've got important information to share, and you need your listener's full attention. That's why mastering the hello is so important.</p>
                <p><strong>The driving force behind the 3-step hello is respect.</strong> When you acknowledge that someone’s time is valuable, you show your respect for him. And when you respect others, they respect you in return. This means you're more likely to get the help, money, time, or attention you need.</p>
            </div>
        </div>
    </div>
</div>

<div id="meet-allison">
    <div class="row">
        <div class="large-12 columns">
            <h1 class="title">Meet <strong>Allison</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns">
            <p>Meet Allison. She works at Under Armour. Allison is hard working and full of energy. Everyone likes Allison, which is why it frustrates her that she has so much trouble getting anyone to listen to her ideas.</p>
            <p>Allison has a great idea for streamlining production and increasing profits. She has just run into her supply chain manager, Lauren, in the hallway. Allison tries to have a conversation with Lauren about her ideas.</p>
            <div class="playa">
                <div class="row">
                    <div class="small-12 medium-10 columns">
                        <div class="audioplayer">
                            <audio src="assets/audio/bad-hello.mp3" preload="auto" controls></audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="medium-6 text-center columns">
            <img class="img-round1" src="assets/img/allison.jpg">
        </div>
    </div>
</div>

<div id="how-did-that-go">
    <div class="row">
        <div class="medium-6 text-center columns">
            <img class="img-round2" src="assets/img/allison-2.jpg">
        </div>
        <div class="medium-6 columns">
            <h1 class="title">How did that <strong>Go?</strong></h1>
            <p>How do you think that conversation went? Was Lauren receptive to Allison's ideas?</p>
            <p>Although Allison is enthusiastic and a go-getter, she's terrible at the "hello." When you stop your friend in the hallway, call your boss, or drop by your colleague’s office, that person is probably in the middle of doing something else. You are generally interrupting.</p>
        </div>
    </div>
</div>

<div id="three-step-hello">
    <div class="row">
        <div class="large-12 columns">
            <h1 class="title" id="three-step">The <strong>3-Step</strong> Hello</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div id="swiper-three-step">
                <div class="swiper-container swiper-three-step">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="medium-7 columns">
                                    <div class="title" data-swiper-parallax="-250">
                                        <h3>The Introduction</h3>
                                    </div>
                                    <div class="text" data-swiper-parallax="-500">
                                        <p>This is a no-brainer, but please don’t assume everyone knows who you are or remembers what firm you’re with, what school you’re from, or how your Aunt Judy introduced the two of you last summer. Always start your conversation with an introduction.</p>
                                        <p>Your introduction includes your full name and provides your affiliation:</p>
                                        <ul>
                                            <li>If you’re speaking to someone at work, this is your department.</li>
                                            <li>If you’re speaking to a client, it’s the company you’re representing.</li>
                                            <li>If someone has referred you, it’s the name of the referral.</li>
                                        </ul>
                                        <p>Don’t make someone spend the first few minutes of the conversation racking her brain trying to figure out who you are or how she knows you.</p>
                                    </div>
                                </div>
                                <div class="medium-5 columns">
                                    <div class="illustration" data-swiper-parallax="-1000">
                                        <img src="assets/img/introduction.png">
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="medium-7 columns">
                                    <div class="title" data-swiper-parallax="-100">
                                        <h3>what's the purpose?</h3>
                                    </div>
                                    <div class="text purpose" data-swiper-parallax="-300">
                                        <p>Don’t make people guess why you’re calling or stopping by&mdash;just get to the point. People are more likely to take your call or engage in a conversation if you tell them upfront why you’re calling or dropping by.</p>
                                        <p>Make it easy for your listener to quickly decide whether (or not) to talk now or to ask to speak at a different time.</p>
                                    </div>
                                </div>
                                <div class="medium-5 columns">
                                    <div class="illustration" data-swiper-parallax="-1000">
                                        <img src="assets/img/purpose.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="medium-7 columns">
                                    <div class="title" data-swiper-parallax="-100">
                                        <h3>The Key Question</h3>
                                    </div>
                                    <div class="text" data-swiper-parallax="-300">
                                        <p><strong>This is the most important part of the 3-step hello!</strong> It shows that you’re respectful of people’s time and gives the other person a generous 'out' if now isn't a good time.  Guess what the key question is?</p>
                                        <blockquote>Do you have a few minutes to talk?</blockquote>
                                        <p>Am I catching you at a bad time? It’s that simple. Before you move forward, make sure the person you are speaking with actually has time to talk to you.</p>
                                        <p>If they don’t, asking them the key question gives them an opportunity to schedule another time to speak, or to send you in the direction of someone else who can help.</p> 
                                    </div>
                                </div>
                                <div class="medium-5 columns">
                                    <div class="illustration" data-swiper-parallax="-1000">
                                        <img src="assets/img/keyquestion.png">
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination pagination-three-step"></div>
                    <!-- Add Navigation -->
                    <div class="swiper-button-prev swiper-button-black button-prev-three-step"></div>
                    <div class="swiper-button-next swiper-button-black button-next-three-step"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="what-would-jodi-do">
    <div class="row">
        <div class="large-12 columns">
            <h1 class="title">What Would <strong>Jodi</strong> Do?</h1>
        </div>
        <div class="large-9 medium-10 small-12 columns end">
            <p class="content">Now that you've seen the action strategy, what do you think Allison should have done differently?</p>
        </div>
    </div>
    <div class="row">
        <div id="wwjd-scroll-to"></div>
        <div class="medium-4 text-center columns">
            <div class="wwjd ai">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="assets/img/allison-3.jpg">
                            <h3>Allison's introduction</h3>
                        </div>
                        <div class="face back">
                            <span class="rnd-thumb">
                                <img src="assets/img/allison-3.jpg">
                            </span>
                            <p>Remember, not everyone knows who you are.  Allison should have started her conversation with Lauren like this:</p>
                            <blockquote>Hi Lauren, I’m Allison Rigby, the new vendor specialist.</blockquote>
                            <p>Lauren wouldn’t have mistaken Allison for Abigail if she had started with her full name and her department.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="button large plus" id="wwjd1">+</button>
        </div>
        <div class="medium-4 text-center columns">
            <div class="wwjd arc">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="assets/img/allison-4.jpg">
                            <h3>Allison's reason for chatting</h3>
                        </div>
                        <div class="face back">
                            <span class="rnd-thumb">
                                <img src="assets/img/allison-4.jpg">
                            </span>
                            <p>The key here is to get to the point. This is a better way to engage Lauren:</p>
                            <blockquote>I've been doing some research and have outlined some new ideas that I think will improve production.</blockquote>
                            <p>Now Lauren knows why Allison has stopped her, and Lauren can decide how best to respond.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="button large plus" id="wwjd2">+</button>
        </div>
        <div class="medium-4 text-center columns">
            <div class="wwjd akq">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="assets/img/allison-5.jpg">
                            <h3>Allison's key question</h3>
                        </div>
                        <div class="face back">
                            <span class="rnd-thumb">
                                <img src="assets/img/allison-5.jpg">
                            </span>
                            <p><strong>The key question is the step that will make or break your conversation.</strong> By now, you know that Allison should have asked Lauren:</p>
                            <blockquote>Do you have a few minutes to talk?</blockquote>
                            <p>Lauren might have been interested in Allison's ideas, or might have known someone who was. Unfortunately, Allison's botched hello ensured that Lauren was more annoyed with her than impressed.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="button large plus" id="wwjd3">+</button>
        </div> 
    </div>
</div>

<div id="putting-it-all-together">
    <span class="all-together-bkg"></span>
    <span class="all-together-overlay"></span>
    <div id="all-together-content">
        <div class="row">
            <div class="large-8 large-centered medium-9 medium-centered small-12 columns">
                <h1 class="title">Putting It All <strong>Together</strong></h1>
                <p class="content">Now let's put it all together and hear what a good, 3-step hello sounds like.</p>
                <div class="playa">
                    <div class="row">
                        <div class="small-12 medium-7 medium-centered columns">
                            <div class="audioplayer">
                                <audio src="assets/audio/good-hello.mp3" preload="auto" controls></audio>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Lucky for Allison, Lauren doesn't seem to remember their unfortunate first conversation. Allison now knows to follow Lauren’s lead and begin her conversations with:</p>
                <ul>
                    <li>Introduction</li>
                    <li>Purpose</li>
                    <li>Key question</li>
                </ul>
                <p><strong>Mastering the 3-step hello shows people that you are generous and respectful</strong>, and adds a powerful communication tool to your skill set.</p>
            </div>
        </div>
    </div>
</div>

<div id="close">
    <div class="row">
        <div class="large-12 text-center columns">
            <p class="lead">Now that you've mastered the <strong>hello</strong>, close this window/tab and <strong>read some examples</strong>, before learning how to say goodbye.</p>
        </div>
    </div>
</div>
