#header {
    width: 100%;
    height: 100%;
    .header-content {
        position: relative;
        z-index: 1000;
        top: 50%;
        -webkit-transform: translate3d(0px, -50%, 0);
        -moz-transform: translate3d(0px, -50%, 0);
        -o-transform: translate(0px, -50%);
        -ms-transform: translate3d(0px, -50%, 0);
        transform: translate3d(0px, -50%, 0);
        color: $white;

        .unit {
            font-size: 1rem;
            text-transform: uppercase;
            padding: 0.1rem 0.5rem;
            margin-bottom: 7rem;
            border: 3px solid $white;
            display: inline-block;
        }
        .title {
            margin: 0;
            padding: 0;
            font-size: 5rem;
            font-weight: 100;
            line-height: 1.2;
            text-transform: lowercase;
            border-right: 1px solid $white;
            strong {
                font-weight: 700;
                font-style: italic;
            }
        }
        .tagline {
            margin-top: 5rem;
            padding: 0 3rem;
            font-weight: 700;
            @media only screen and (max-width : 768px) {
                padding-left: 0;
                margin: 2rem 0;
            }
        }
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        background: transparent url(../img/bkg-pattern.png) left top repeat;
    }
}

#introduction {
    width: 100%;
    min-height: 110vh;
    overflow: hidden;

    strong {
        font-weight: 700;
    }
    .intro-bkg {
        width: 100%;
        min-height: 110vh;
        position: absolute;
        z-index: 0;
        background: transparent url(../img/bkg-introduction.jpg) center center no-repeat;
        background-size: cover;
        @include transform(scale(1));
        &.blur {
            @include filter(blur(1px));
        }
    }
    .overlay {
        width: 100%;
        min-height: 110vh;
        position: absolute;
        z-index: 1;
        background-color: $orange;
        opacity: 0.5;
        &.opaque {
            opacity: 0.9;
        }
    }
    #intro-content {
        @include sectionStyles;
        color: $white;
        position: relative;
        z-index: 10;
        p > strong {
            font-weight: 900;
        }
    }
}

#meet-allison {
    @include sectionStyles;
    @include woodBkg;
    
    .img-round1 {
        @include imgRound;
        margin-top: -6rem;
    }
}

#how-did-that-go {
    @include sectionStyles;
    @include lightBkg;

    .img-round2 {
        @include imgRound;
        margin-top: 2rem;
    }
}

#three-step-hello {
    @include sectionStyles;
    @include woodBkg;
    
    .swiper-three-step {
        @include whiteNested;
    }
}

#what-would-jodi-do {
    @include sectionStyles;
    @include blueBkg;
    min-height: 960px;

    .content {
        margin-bottom: 5rem;
    }
    .wwjd {
        @include flipCard;

        img {
            @include imgRound;
            @include size(300px 300px);
            margin: 0;
            @include transform(scale(1));
            opacity: 1;
            border-width: 10px;
        }
        h3 {
            text-transform: lowercase;
            margin: 1.5rem 1rem;
            line-height: 1;
        }
    }
    .plus {
        position: relative;
        top: 1rem;
        z-index: 1000;
        text-align: center;
        background: transparent;
        padding: 0 0 7px;
        font-size: 2rem;
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        border: 3px solid $white;
        @include size(60px 60px);
        line-height: 1;
        vertical-align: middle;
        @include transition(all 0.1s ease-in-out);
    }
    #wwjd1, #wwjd2, #wwjd3 {
        margin-top: -3rem;
        @include transition(all 0.5s ease-in-out);

        &.active {
            margin-top: 0;
            color: $blue;
            background: $white;
            @include transition(all 0.1s ease-in-out);
        }
    }
}

#putting-it-all-together {
    width: 100%;
    min-height: 120vh;

    strong {
        font-weight: 700;
    }
    .all-together-bkg {
        width: 100%;
        min-height: 120vh;
        position: absolute;
        z-index: 0;
        background: transparent url(../img/bkg-all-together.jpg) center center no-repeat;
        background-size: cover;
        @include transform(scale(2));
        &.blur {
            @include filter(blur(1px));
        }
    }
    .all-together-overlay {
        width: 100%;
        min-height: 120vh;
        position: absolute;
        z-index: 1;
        background-color: $orange;
        opacity: 0.5;
        &.opaque {
            opacity: 0.9;
        }
    }
    #all-together-content {
        @include sectionStyles;
        color: $white;
        position: relative;
        z-index: 10;
        p > strong {
            font-weight: 900;
        }
    }
}

#close {
    @include sectionStyles;
    @include woodBkg;
    color: $blue;
}
